[33mcommit dfe0dbe4101ffecea018275b635c10ff8ef99870[m[33m ([m[1;36mHEAD -> [m[1;32mmain[m[33m, [m[1;31morigin/main[m[33m)[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Fri Feb 12 09:35:12 2021 +0330

    -a

[33mcommit abf77cde29f46872b5fa40ea780d58078184c91f[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Tue Feb 9 12:12:38 2021 +0330

    -a

[33mcommit 43253ec51449d4949d141f43d59eb3e8facef982[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Fri Feb 5 14:08:01 2021 +0330

    -a

[33mcommit c628953c9a21f1e9031c6cd7c9eae11a80eb475f[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Fri Feb 5 12:03:40 2021 +0330

    LablePart

[33mcommit eebe5e403576dc8f94fa247223ff0f61f8b1f9b8[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Wed Feb 3 11:31:20 2021 +0330

    lessonOne/12345678.html

[33mcommit 5e86eab7e7e2bca6e6db74d7ee8a621ac56702f6[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Wed Feb 3 09:49:48 2021 +0330

    NewHomeWork

[33mcommit f897d207135ab2ac9daf380049aabb4da75d027e[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Fri Jan 29 21:59:48 2021 +0330

    test

[33mcommit 671ecdfff206c294044fe5d34b51e97634fdc043[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Fri Jan 29 21:57:02 2021 +0330

    for and id

[33mcommit 525ea16aa168684cba563139ebe1feecb0a6433c[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Fri Jan 22 19:47:46 2021 +0330

    files

[33mcommit b2b4a2e60a1f920d5411940f499157062581f42b[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Thu Jan 14 22:34:28 2021 +0330

    git ignore added

[33mcommit b2648fad9d796488bdba91305f547042f3d17ecb[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Thu Jan 14 22:31:54 2021 +0330

    images removed

[33mcommit 93ae316361adff55eb05a9274e551436f14371a9[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Thu Jan 14 22:30:14 2021 +0330

    change directory :bulb:

[33mcommit b4fa5d8c552c7f5aeafd37ede7074bf2762e249e[m
Author: AmirFadaei <amirfadaei03@gmail.com>
Date:   Wed Jan 13 23:51:03 2021 +0330

    change title

[33mcommit a8f8d4ad55d6d03b3729b3db02146639402ea4ca[m
Author: Your Name <you@example.com>
Date:   Wed Jan 13 23:19:44 2021 +0330

    initial commit :tada:
