    .design {
            background-color: purple;
            font-style: italic;
            margin: 50px;
            border: 15px solid pink;
            }

    body div
    .header{
        color: darkturquoise;
        border: 10px solid yellow;
    }
    .content{
        color: chartreuse;
    }
    #main{
        background-color: chartreuse;
    }

    .title{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

    .foter{ 
        background-color: coral;
        font-family: Fantasy;
    } 

    .login form{
        background-color: darkgoldenrod;
        font-weight: bold;
    }

    #recomend{
        background-color: aqua;
    }

    body div.imgs{
        size: 200px*80px;
    }
    
    /* body div#main.ImgSize#php{
    height: 5cm;
    width: 250px;
    }

    body div#main.ImgSize#jfif{
    height: 5cm; 
    width: 250px;
    } */





    
   /* .platform{
        background-color: chartreuse;
        margin: 50px;
    }

    .accessories{
        background-image: none;
        color: chartreuse;
        border: 10px solid purple;
    }
        

